# Ignore node_modules or virtual environment
node_modules
venv

# Ignore logs
*.log

# Ignore local environment files
.env
.env.*

# Ignore build output
dist
build

# Ignore Docker-related files that shouldn't go into the image
.dockerignore
Dockerfile*

# Ignore Git files
.git
.gitignore

# OS-specific files
.DS_Store
Thumbs.db
